.button {
  position: relative;
  display: inline-block;
  width: max-content;
  font-family: $font-open-sans;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 1px;
  color: $color-text-primary-darker;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.75;

    &::before {
      opacity: inherit;
    }
  }

  &:active {
    opacity: 0.4;

    &::before {
      opacity: inherit;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: -1px;
    right: -15px;
    @include icon-arrow-right-black;
  }

}

.button--white {
  color: $color-white;

  &::after {
    @include icon-arrow-right-white;
  }
}
