$color-text-primary: #464646;
$color-text-primary-darker: #252525;
$color-text-primary-lighter: #898989;
$color-text-secondary: #00c8c8;
$color-dull-white: #d7d7d7;
$color-white: #fff;
$color-dark-blue: #31415c;

$font-open-sans: 'Open Sans', Arial, Helvetica, sans-serif;
$font-roboto: 'Roboto', Arial, Helvetica, sans-serif;

$svg-sprite-dest: url('../images/icons/sprite.svg');
